<style>
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  .page-footer {
    background-color: #111;
  }
</style>
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col 15 sl12">
        <h5 class="white-text">Footer title</h5>
        <p class="grey-text text-lighten-4 ">I am very proud of this footer</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      {{ .Site.Copyright }}
    </div>
  </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/js/materialize.min.js"></script>
<script>
  M.Sidenav.init(document.querySelector(".sidenav", {}));
</script>
