<a href="#" data-target="slide-out" class="sidenav-trigger">
  <i class="material-icons">menu</i>
</a>
<ul id="slide-out" class="sidenav">
  <li>
    <div class="background" >
      <img src="{{ "img/menu-background.jpg" | relURL }}">
    </div>
    <!--
    <div class="user-view">
      <div class="background">
        <img src="{{ "img/menu-background.jpg" | relURL }}">
      </div>
      <a href="#!user"><img class="circle" src="images/yuna.jpg"></a>
      <a href="#!name"><span class="white-text name">John Doe</span></a>
      <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
    </div>
    -->
  </li>
  {{ $currentPage := . }}
  {{ range .Site.Menus.side }}
    <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
      <a href="{{ .URL | relURL}}">
        {{ .Pre }}
        <span>{{ .Name }}</span>
      </a>
    </li>
  {{ end }}
    
  <!--
  <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
  <li><a href="#!">Second Link</a></li>
  <li><div class="divider"></div></li>
  <li><a class="subheader">Subheader</a></li>
  <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
  -->
</ul>
