{{ define "main" }}
<style>
  strong { font-weight: bold; }
</style>
<div class="carousel carousel-slider" style="max-height: 70vh">
  <a class="carousel-item" href="#"><img src="{{ "img/technics_1.jpg" | relURL }}"></a>
  <a class="carousel-item" href="#"><img src="{{ "img/technics_2.jpg" | relURL }}"></a>
</div>
  <div class="container">
    <article>
      <h1>{{ .Title }}</h1>
      {{ .Content }}
    </article>
    <section>
      {{ range last 10 .Site.Pages }}
        {{ .Render "summary" }}
      {{ end }}
    </section>
  </div>

  <script>
    window.onload = function () {
      var carousel = M.Carousel.init(document.querySelector(".carousel"), {
        duration: 1000,
        fullWidth: true
      });

      setInterval(function() {
        carousel.next();
      }, 8000);
    };
  </script>
{{ end }}
