{{ define "main" }}
<style>
  strong { font-weight: bold; }
</style>
<div class="carousel carousel-slider" style="max-height: 70vh">
  <a class="carousel-item" href="#"><img src="{{ "img/technics_1.jpg" | relURL }}"></a>
  <a class="carousel-item" href="#"><img src="{{ "img/technics_2.jpg" | relURL }}"></a>
</div>
  <div class="container">
    <article style="padding-top:3rem;">
      {{ .Content }}
    </article>
    <section style="padding-top:3rem;">
      <h3>Last blog entries</h3>
      <ul class="collection">
        {{ $paginator := .Paginate (where .Data.Pages "Type" "post") 3 }}
        {{ range $paginator.Pages }}
          <li class="collection-item">
            <a href="{{ .RelPermalink}}">
              <h4>{{ .Title }}</h4>
            </a>
            <span class="grey-text text-darken-3">{{ .Date.Format "Jan 1, 2006" }}</span>
            <p>{{ .Summary }}</p>
          </li>
        {{ end }}
      </ul>
      <div class="right">
        <a href="{{ "/news" | relURL }}">Show older entries</a>
      </div>
    </section>
  </div>

  <script>
    window.onload = function () {
      var carousel = M.Carousel.init(document.querySelector(".carousel"), {
        duration: 1000,
        fullWidth: true
      });

      setInterval(function() {
        carousel.next();
      }, 8000);
    };
  </script>
{{ end }}
